	</head>
	<body>
		<div class="col-sm-4" style="margin-left: 427px;margin-top: 50px">
			<div class="rcol-md-offset-3">
				<div class="main-login main-center">
				<h1>Sign up</h1>
					<%= form_for @users do |f|  %>	
						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Username</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									 <%= f.text_field :name, class: "form-control" ,id:"username" %>

								</div>
							</div>
						</div>
						
						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Your Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
								
									<%= f.text_field :email, class: "form-control", id: "email" %>
								</div>
							</div>
						</div>

						

						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<%= f.password_field :password, class: "form-control" ,id: "password" %>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<%= f.password_field :password_confirmation, class: "form-control" ,id: "confirm" %>
								</div>
							</div>
						</div>

						<div class="form-group ">
						<%= f.submit "Signup", class: "btn btn-primary btn-lg btn-block login-button" %>

						</div>
						
			
					<% end %>
				</div>
			</div>
		</div>

		 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
	</body>
	<h1></h1>